@font-face {
    font-family: "switch";
    src: url("../font/switch-bold.ttf");
}

body {
    font-family: "switch";
    font-size: 45px;
    font-weight: bolder;
    background: rgba(0, 0, 0, 0);
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    min-width: 80px;
    max-width: 80px;
    font-size: 35px;
}

.scoreboard {
    height: 100%;
    width: 100%;
    margin-left: -5px;
    margin-top: -40px;
}

.score {
    padding-top: 40px;
    vertical-align: bottom;
}

.circle {
    border-radius: 20px;
}

.purple {
    text-align: center;
    background: rgba(122, 78, 234, .7);
    color: white;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black;
}

.orange {
    text-align: center;
    background: rgba(255, 100, 0, .65);
    color: white;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black;
}

.self {
    text-align: center;
    background: rgba(255, 255, 0, 0.75);
    color: white;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black;
}

.seconds {
    font-size: 40px;
    padding-left: 15px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px black, 1px 1px 4px black;
}

.error {
    color: red;
    text-shadow: 1px 1px 1px white, 1px 1px 1px white;
    font-size: 35px;
    position: fixed;
    bottom: -35px;
    left: 0;
    opacity: .4;
}