@font-face {
    font-family: "switch";
    src: url("../font/switch-bold.ttf");
}

body {
    font-family: "switch";
    font-size: 45px;
    font-weight: bolder;
    background: rgba(0, 0, 0, 0);
}

table {
    width: 100%;
    margin-left: -1px;
}

td {
    min-width: 30px;
    max-width: 30px;
    font-size: 35px;
    /*border: 1px solid red;*/
}

.scoreboard {
    height: 100%;
    width: 100%;
    margin-top: -40px;
}

.separator {
    min-width: 198px;
}

.padder {
    min-width: 50px;
}

.score {
    padding-top: 40px;
    vertical-align: bottom;
}

.circle {
    border-radius: 20px;
}

.purple {
    text-align: center;
    background: rgba(122, 78, 234, 0.5);
    color: white;
    min-width: 45px;
    max-width: 45px;
}

.orange {
    text-align: center;
    background: rgba(185, 59, 0, 0.5);
    color: white;
    min-width: 45px;
    max-width: 45px;
}

.font-border-black {
    text-shadow: -1px -1px 0px #000, 0px -1px 0px #000, 1px -1px 0px #000, -1px 0px 0px #000, 1px 0px 0px #000, -1px 1px 0px #000, 0px 1px 0px #000, 1px 1px 0px #000;
}

.font-border-white {
    text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, -1px 0px 0px #fff, 1px 0px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff, 1px 1px 0px #fff;
}

.self {
    text-align: center;
    background: rgba(255, 255, 83, 0.4);
    color: white;
}

.seconds {
    font-size: 40px;
    padding-left: 15px;
    text-align: center;
    color: white;
}

.error {
    color: red;
    font-size: 35px;
    position: fixed;
    bottom: -35px;
    left: 0;
    opacity: .4;
}